- back ||= back.nil?

= form.button :submit, submit, class: 'btn-primary'
= form.button :button, t('.reset'), type: :reset, class: 'btn-outline-secondary'
-if back
  = link_to t('.back'), :back, class: 'btn btn-outline-secondary float-right'
