# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <rails secret>

db_connection: &db_connection
  db_username: workout
  db_password: <secret DB password>

development:
  db_name: workout_dev
  <<: *db_connection

test:
  db_name: workout_test
  <<: *db_connection

production:
  db_name: workout_prod
  <<: *db_connection
