= link_to root_path, class: 'navbar-brand' do
  = image_pack_tag 'Stars.svg', class: 'hvworkout__brand-img'
  %span.hvworkout__d-xl-only.hvworkout__d-lg-only HVboom - HVWorkout
  %span.hvworkout__d-md-only.hvworkout__d-sm-only HVboom
